body {
    background-image: url('./images/notebook_small.jpg');
    background-color: #E7E7E7;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
    margin-top: 0.3rem; /* 5px ≈ 0.3rem */
    margin-left: 1.875rem; /* 30px ≈ 1.875rem */
    color: #030303;
    font-family: "Lilita One", serif;
    display: flex;
    justify-content: center;
}

#input-container {
    margin-top: 0.9375rem; /* 15px ≈ 0.9375rem */
    margin-left: 0.625rem; /* 10px ≈ 0.625rem */
    display: flex;
    justify-content: center;
}

#shopping-list {
    margin-top: 2.7rem; /* 40px ≈ 2.5rem */
    margin-left: 1.5625rem; /* 25px ≈ 1.5625rem */
    padding: 0;
    font-family: "Caveat", serif;
    font-weight: 600;
    font-style: normal;
}

#shopping-list li span {
    margin-left: 0.9375rem; /* 15px ≈ 0.9375rem */
    cursor: pointer;
}

.done {
    color: #201f1f;
    text-decoration: line-through;
}

#shopping-list li:hover {
    color: #A27B48;
    text-decoration: line-through;
}

#item-input {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-family: "Comfortaa", "Arial", sans-serif;
}

#info-2, #info-1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    box-shadow: 0 -0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* 2px ≈ 0.125rem, 5px ≈ 0.3125rem */
}

#info-2 p {
    margin: 0.3125rem; /* 5px ≈ 0.3125rem */
}

#info-1 p {
    margin-bottom: 1.5625rem; /* 25px ≈ 1.5625rem */
}

@media (max-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
    }
}
